@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.app {
  padding: 30px;
}

#addBtn {
  margin-top: 10px;
}
.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
